body{
    margin: 0;
    padding: 0;
}

.background_img {
    position: absolute;
    left: 5%;
    width: 90vw;
    z-index: -1;
    opacity: 0.5;
}

.nav_container{
    box-shadow: 0px 3px 5px  darkslategray;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
}

nav i{
    color: #1D2F6F;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img{
    width: 50px;
    height: 50px;
}

.contenu{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 80px;
}


.chat{
    display: flex;
    flex-direction: column;
    background-color: #C2DFE3;
    width: 30%;
    height: 80vh;
    overflow: scroll;
}

h4{
    align-self: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    
}

.message p{
    width: 80%;
    height: 40px;
    background-color: #3F88C5;
    padding-left: 10px;
    box-shadow: -4px 5px 3px darkslategray;
}


.message_mod{
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    width: 100%;
}

.message_mod p{
    color: white;
    background-color: #1D2F6F;
    text-align: end;
    padding-right: 15px;  
    height: 40px;
    width: 50%;
    margin-right: 20px;
    box-shadow: 4px 5px 3px darkslategray;
}


.user_list{
    align-self: center;
    background-color: #1D2F6F;
    width: 30%;
    height: 80vh;
    overflow: scroll;
    margin-left: 20px;
    margin-right: 20px;
}

.user_list h4{
    margin-bottom: 0;
    text-align:center ;
    color: white;
}

.filtre{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
}

.search input{
    border: 0;
    box-shadow: 2px 4px 2px white;
}

.profil{
    display: flex;
    flex-direction: column;
}


.profil p{
    display: flex;
    justify-content: center;
    color: white;
}

.Commentaire{
    background-color: #E0FBFC;
    width: 30%;
    height: 80vh;
    overflow: scroll;
}

.Commentaire h4{
    text-align: center;
}

.comm{
    width: 90%;
    margin-top: 40px;
    box-shadow: 4px 4px 2px darkslategray;
    overflow-y: scroll;
}

.comm p, .comm1 p{
    padding-left: 5px;
}

.comm1{
    width: 90%;
    box-shadow: 4px 4px 2px darkslategray;
    overflow: scroll;
}

.dashboard{
    position: absolute;
    top: 900px;
    right: 80px;
}

.dashboard button{
    background-color:#D9D9D9;
    border: 0;
    width: 100px;
    height: 80px;
    text-decoration: none;
}

.dashboard button:hover{
    box-shadow: 4px 4px 2px darkslategray;
}