header{
    background-color: rgba(63, 136, 197, 1);
    margin-bottom: 10px;
    min-width: 100vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 40px;
    height: 40px;
}


.parent{
    display: grid;
    grid-template-areas: 
    "etat etat etat cal cal hour hour"
    "etat etat etat cal cal hour hour"
    "etat etat etat projet projet projet projet"
    "etat etat etat projet projet projet projet"
    "etat etat etat projet projet projet projet"
    "even even even totale pourc pourc admin"
    "even even even done pourc pourc admin"
    "even even even cours pourc pourc admin";
    gap: 10px;
}

.div1_etat{
    grid-area: etat;

    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    border-radius: 20px;
    background-color:  rgba(63, 136, 197, 1);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.etat{
    text-align: center;
}

.btn_tache{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    padding: 5px;
    color: azure;
    background-color: #1D2F6F;
}

.tache_container{
    border:  rgba(194, 223, 227, 1) 1px;
    background-color: rgba(194, 223, 227, 1);
    color:azure;
    padding-left: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div2_cal{
    grid-area: cal;

    border: brown 2px;
    border-radius: 20px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div3_hour{
    grid-area: hour;

    border: rgba(63, 136, 197, 1) 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(63, 136, 197, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div4_projet{
    grid-area: projet;

    border: rgba(63, 136, 197, 1) 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(63, 136, 197, 1);
    overflow-y: scroll;
}

.btn_projet{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    padding: 5px;
    color: azure;
    background-color: #1D2F6F;
}

.projet{
    text-align: center;
}

.projet_container{
    border: rgba(63, 136, 197, 1) 2px;
    background-color: rgba(194, 223, 227, 1);
    color: azure;
    padding-left: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div5_even{
    grid-area: even;

    border: rgba(63, 136, 197, 1) 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(63, 136, 197, 1);
    color: azure;
    overflow-x: scroll;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

.btn_even{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 5px;
    color: azure;
    background-color: #1D2F6F;
}

.even{
    text-align: center;
    color: black;
}

.div6_ttot{
    grid-area: totale;

    border: rgba(29, 47, 111, 1) 2px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(29, 47, 111, 1);
    color: azure;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div7_tdone{
    grid-area: done;

    border: rgba(63, 136, 197, 1) 2px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(63, 136, 197, 1);
    color: azure;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div8_tcours{
    grid-area: cours;

    border: rgba(194, 223, 227, 1) 2px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(194, 223, 227, 1);
    color: azure;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div9_tpourc{
    grid-area: pourc;

    border: rgba(63, 136, 197, 1) 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(63, 136, 197, 1);
    color: azure;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div10_admin{
    grid-area: admin;

    border: rgba(29, 47, 111, 1) 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    background-color:  rgba(29, 47, 111, 1);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:425px){

    header{
        width:100%;
    }

    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div1_etat{
        width: 80%;
        margin: 20px;
    }

    .div4_projet{
        width: 80%;
        margin: 20px;
    }

    .div5_even{
        width: 80%;
        margin: 20px;
    }

    .div2_cal{
        display: none;
    }

    .div3_hour{
        display: none;
    }

    .div6_ttot{
        width: 80%;
        border-radius: 0px;
    }

    .div7_tdone{
        width: 80%;
    }

    .div8_tcours{
        width: 80%;
        border-radius: 0px;
    }

    .div9_tpourc{
        width: 80%;
        border-radius: 0px;
    }

    .div10_admin{
        display: none;
    }

}