.dashboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 15px;
}
    
.div1 {
    grid-row: span 8 / span 8;
}

.div2 {
    grid-column: span 7 / span 7;
    grid-row: span 8 / span 8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 15px;
    overflow: scroll;
}

.etat_container {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;

    border: black solid 2px;
    border-radius: 20px;
    background-color:  rgba(63, 136, 197, 1);
}

.cal_container {
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 1;
    grid-column-start: 4;

    border: black solid 2px;
    border-radius: 20px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_hour_container {
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 1;
    grid-column-start: 6;

    border: black solid 2px;
    border-radius: 20px;
    background-color:  rgba(63, 136, 197, 1);
}

.all_projet_container {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;

    border: black solid 2px;
    border-radius: 20px;
    background-color:  rgba(63, 136, 197, 1);
}

.even_container {
    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
    grid-row-start: 4;

    border: black solid 2px;
    border-radius: 20px;
    background-color:  rgba(63, 136, 197, 1);
}

.div8 {
    grid-column-start: 4;
    grid-row-start: 6;

    border: black solid 2px;
    background-color:  rgba(29, 47, 111, 1);
}

.div9 {
    grid-column-start: 4;
    grid-row-start: 7;

    border: black solid 2px;
    background-color:  rgba(63, 136, 197, 1);
}

.div10 {
    grid-column-start: 4;
    grid-row-start: 8;

    border: black solid 2px;
    background-color:  rgba(194, 223, 227, 1);
}

.div11 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 6;

    border: black solid 2px;
    background-color:  rgba(63, 136, 197, 1);
}

.admin {
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 6;

    border: black solid 2px;
    border-radius: 20px;
    background-color:  rgba(29, 47, 111, 1);
}
        



.nav_container{
    border: black solid 2px;
    background-color: rgba(63, 136, 197, 1);
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

img{
    width: 50px;
    height: 50px;
}

main{
    background-color: white;
}



.etat{
    text-align: center;
}

.tache_container{
    border: black solid 1px;
    background-color: rgba(194, 223, 227, 1);
    min-height: 20vh;
    padding-left: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projet_container{
    border: black solid 1px;
    background-color: rgba(194, 223, 227, 1);
    min-height: 20vh;
    padding-left: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

