body {
    padding: 0;
    margin: 0;
}

.background_img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    background-color: #3F88C5;
    color: white;
    width: 40%;
    height: 50px;
    font-size: 30px;

}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 5%;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
}

.connexion-container {
    display: flex;
    justify-content: center;
}

label,
input {
    display: flex;
    align-items: center;
    color: black;
    min-height: 30px;
    margin-right: 10px;
}

input {
    width: 250px;
}

#valider {
    color: white;
}

#mdp {
    color: white;
}

#email {
    color: white;
}

a {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

p {
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.valider-container {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2F6F;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 20px;
    width: 20vh;
    margin-top: 10px;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contenu {
    background-color: #3F88C5;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    padding: 30px;
    border-radius: 20px;
    margin-right: 30%;
    margin-bottom: 10%;
    margin-left: 30%;
}

#lien-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#lien:hover {
    text-decoration: underline;
}


#mail,
#password { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 13px;
}

#compte,
#mdp_lost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#inscription:hover,
#oubli:hover{
    text-decoration: underline;
}

#emailError,
#passwordError {
    color: red;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: bold;
}


@media screen and (max-width: 425px) {
    .contenu { 
        width: 100%;
        margin: 0;
        padding: 1%;
        border-radius: 0;
    }

    .background_img {
        position: absolute;
        height: 100vh;
        width: 102vw;
        z-index: -1;
        opacity: 0.8;
    }
    
    h1 {
        width: 80%;
    }
}

@media screen and (min-width:768px) and (max-width: 768px) { 
    
    input {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-top: 10px;

    }

}