/* Partie modal (fait pendant le JS) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.confirmBtn {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.confirmBtn:hover, .confirmBtn:active {
    background-color: red;
  }

.cancelBtn {
    background-color: #030100;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    background-color: rgba(63, 136, 197, 1);
    margin-bottom: 10px;
    min-width: 100vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 40px;
    height: 40px;
}

.background_img {
    position: absolute;
    height: 115vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}


#projectList {
    display: flex;
    justify-content: center;
   margin: auto;
    width: 100%;
    
}

.projectColumn {
    margin: 10px;
    width: 50%;
}

.titre {
    text-align: center;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px;
    background-color: #C2DFE3;
    padding: 3%;
}

.taskList {
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px ;
    background-color: #C2DFE3;
    height: 600px;
    text-align: center;
}

.taskList p {
    background-color: white;
    padding: 10px;
    margin: 30px;
}

.date label,input {
    margin-top: 30px;
    margin-bottom: 30px;
}


.saveBtn{
    color: white;
    background-color: #1D2F6F;
    border: 2px solid black;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
}

.saveBtn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.saveBtn:hover {
    background-color: black;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 90%;
    height: 150px;
    font-size: 16px;
    margin-bottom: 20px;
}

.description label {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

#projectError,
#dateDebutError,
#dateFinError,
#descriptionError{
    color: red;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#descriptionError {
    margin-bottom: 10px;
}

#valide {
    color: green;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width: 425px) {

    #projectList {
        display: flex;
        flex-direction: column;
        margin:0;
        max-width: 100%;
        padding: 1%;
    }
    .nav_container {
        border: black solid 2px;
        background-color: rgba(63, 136, 197, 1);
        font-size: 30px;
        width: 101vw;
    }

    .background_img {
        position: absolute;
        height: 105vh;
        width: 102vw;
        z-index: -1;
        opacity: 0.8;
    }

    .projectColumn {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 200px;
    }
    input {
        display: flex;
        justify-content: space-around;
        margin-left: 40px;
        width: 60%;
        margin-top: 10px;

    }
}

@media screen and (min-width:768px) and (max-width: 768px) { 
    
    input {
        display: flex;
        justify-content: space-around;
        margin-left: 70px;
        width: 60%;
        margin-top: 10px;

    }

}