/* Partie modal (fait pendant le JS) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.confirmBtn {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.confirmBtn:hover, .confirmBtn:active {
    background-color: red;
  }

.cancelBtn {
    background-color: #030100;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

.background_img {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
}


header{
    background-color: rgba(63, 136, 197, 1);
    margin-bottom: 10px;
    min-width: 100vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 40px;
    height: 40px;
}

.contain {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 80%;
    padding: 30px;
    box-shadow: 0px 0px 10px 2px darkslategray;
    border-radius: 20px;
    background-color: #C2DFE3;
}

.formu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title{
    display: flex;
    margin: 0 auto;
}

.Title label{
    font-size: 20px;
    margin-right: 5px;
}

.Title i{
    margin-right: 10px;
}

.Title2{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.date{
    display: flex;
    margin: 0 auto;
}

.date input{
    margin-left: 10px;
    width: 177px;
}

.descri{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.descri label{
    display: flex;
    justify-content: flex-start;
    margin: 10px 140px;
}

.descri textarea{
    display: flex;
    justify-content: center;
    width: 60%;
    margin:0 auto ;
}

.Pj{
    display: flex;
    align-items: center;
    margin: 20px 140px;
    width: 80%;
}

.Pj label{
    margin-right: 20px;
}

.valid{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40%;
    color: white;
    background-color:#1D2F6F;
    border: 0;
    border-radius: 20px;
    height: 40px;
    padding: 1%;
}

.valid:hover{
    box-shadow: 3px 4px 3px darkslategray;
}



@media screen and (max-width:425px) {
    
    .background_img {
        position: absolute;
        object-fit: cover;
        width: 100vw;
        height: 860px;
        z-index: -1;
        opacity: 0.8;
    }
 
    .contain {
        display: flex;
        flex-direction: column;
        margin-left: auto ;
        margin-bottom: 0 ;
        margin-top: 30px;
        width: 90%;
        height: 70%;
        padding: 2%;
        box-shadow: 0px 0px 10px 2px darkslategray;
        border-radius: 20px;
        background-color: #C2DFE3;
    }

    .Title{
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        width: 80%;
        padding: 0;
    }

    .date{
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
    }

    .date input{
        margin-left: 0;
    }

    .descri label{
        margin: 0;
    }

    .descri textarea{
        width: 95%;
        height: 50vh;
        margin: 0;
    }

    .Pj{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 20px;
    }

    .Pj label{
        width: 100%;
    }

    .valid{
        width: 70%;
        padding: 4%;
    }
}


@media screen and (min-width:768px) and (max-width:768px) {

    .background_img {
        position: absolute;
        object-fit: cover;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        opacity: 0.8;
    }

    .contain{
        margin-bottom: 0;
    }

    .Title{
        margin: 0 80px;
    }

    .date{
        margin: 0 80px;
    }

    .descri label{
        margin: 0 80px;
    }

    .descri textarea{
        width: 80%;
        margin: 0 80px;
    }

    .Pj{
        display: flex;
        flex-direction: column;
        margin: 20px 90px ;
    }

    .Pj label{
        width: 100%;
    }

    .valid{
        width: 70%;
        padding: 2%;
    }
}
