/* Partie modal (fait pendant le JS) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.confirmBtn {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.confirmBtn:hover, .confirmBtn:active {
    background-color: red;
  }

.cancelBtn {
    background-color: #030100;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/* PARTIE HTML */

body{
    padding: 0;
    margin: 0;
}

.background_img {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
}

header{
    background-color: rgba(63, 136, 197, 1);
    margin-bottom: 10px;
    min-width: 100vw;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 40px;
    height: 40px;
}

form{
    box-shadow: 0px 0px 5px DARKSLATEGRAY;
    width: 50%;
    margin: 203px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(194, 223, 227, 1);
}

button{
    padding: 5px;
    color: azure;
    background-color: #1D2F6F;
}

@media screen and (max-width:425px){

    form{
        padding: 40px;
    }
}