body{

margin: 0;
padding: 0;


}





.background {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../image/background__image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

 







main {

    background-color: #3F88C5;
    box-shadow: 0px 0px 1px 1px darkslategray;
    border-radius: 20px;
    height: 90%;
    width: 64%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;


}





table {

    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75%;
    height: 20%;
    border-spacing: 30px;
    padding: 5%;
    margin: auto;
    padding-bottom: 5px;
    border-radius: 15px;


}



tr {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 30px;
    height: 180px;
    background-color: #C2DFE3;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;



}


tr:hover {

    box-shadow: 4px 4px 2px darkslategray;

}



td h4 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

td {

    display: flex;
    flex-direction: column;


}


.search {

    display: flex;
    align-items: center;
    background-color: #1D2F6F;
    color: white;
    margin-left: 102px;
    margin-right: 98px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 20px;


}



.search img {

    height: 30px;
    width: 30px;
    margin-left: 3%;


}

.search p {

    margin: auto;



}




.nav_container {

    border: black solid 1px;
    background-color: rgba(63, 136, 197, 1);
    height: 60px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
}

.nav_container img {
    width: 86px;
    height: 86px;
}

nav i {
    color: #1D2F6F;
}

.nav_container {
    font-size: 30px;
}

.nav_container img {
    width: 50px;
    height: 50px;
}



@media screen and (max-width: 900px) {
    .search {

        margin-right: 10%;
        margin-left: 10%;
        border: solid 1px;
    }

    main {

        background-color: white;
        border-radius: 0px;
        height: 100%;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-top: 0px;


    }



    table {

        display: flex;
        flex-direction: column;
        background-color: white;
        width: 90%;
        height: 20%;
        border-spacing: 30px;
        padding: 5%;
        margin: auto;
        padding-bottom: 5px;


    }


    tr {
        display: flex;
        justify-content: start;
        margin-bottom: 30px;
        height: 200px;







    }

    .search p {

        margin: auto;


    }


}