

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.nav_container {
    border: black solid 2px;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img {
    width: 86px;
    height: 86px;
}

i {
    color: #1D2F6F;
    width: 86px;
    height: 86px;
}

.background_img {
    position: absolute;
    object-fit: fill;
    z-index: -1;
    opacity: 0.8;
}

.contenu{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 28%;
    justify-content: center;
    background-color: #3F88C5;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px;
    width: 100vh;
}

#profil {
    display: flex;
    margin: 0;
    width: 70%;
}

.profilList {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.utilisateur {
    display: inline-block;
    text-align: center;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    background-color: white;
    margin-left: 2%;
   padding: 3%;
   width: 50%;
}

.information {
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    background-color: white;
    width: 80vh;
    height: 450px;
    text-align: left;
    margin: 20px;
}

.information p {
    padding: 5px;
    margin: 10px;
}

.supprimer-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    height: 40px;
    padding: 3%;
}

#S_delete:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modifier-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    height: 35px;
}

#S_edit {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input {
    color: white;
    background-color: #1D2F6F;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
  }
  

  .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin-top: 10px;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style des boutons dans la modale */
  .modal-buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-buttons button:hover {
    background-color: #f0f0f0;
  }

@media screen and (max-width: 425px) {

    .contenu {
        width: 80%;
        border: 0;
        margin-top: 5%;
        margin-left: 10%;
        padding: 1%;
        border-radius: 0;
    }

    .background_img {
        position: absolute;
        height: 115vh;
        width: 100vw;
        z-index: -1;
        opacity: 0.8;
    }
    .utilisateur {
        width: 100%;
        margin: 0;
        margin-left: 10%;
        padding: 1%;

    }
    .information {
        width: 40vh;
        margin: 0;
        margin-left: 10%;
        margin-top: 10%;
    }

    .supprimer-container {
        width: 90%;
        margin: 0;
        padding: 1%;
        border-radius: 0;
    }

    .modifier-container {
        width: 100%;
        margin: 0;
        margin-top: 5%;
        padding: 1%;
        border-radius: 0;
    }

    .profilList{
        width: 100%;
    }
}
