body {
    margin: 0;
    padding: 0;
}
.nav_container {
    border: black solid 2px;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img {
    width: 86px;
    height: 86px;
}

i {
    color: #1D2F6F;
    width: 86px;
    height: 86px;
}

.background_img {
    position: absolute;
    object-fit: fill;
    z-index: -1;
    opacity: 0.8;
}

.contenu{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 28%;
    justify-content: center;
    background-color: #3F88C5;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px;
    width: 100vh;
}

#profil {
    display: flex;
    margin: 0;
    width: 70%;
}

.profilList {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.utilisateur {
    display: inline-block;
    text-align: center;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    background-color: white;
    margin-left: 2%;
   padding: 3%;
   width: 50%;
}

.information {
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    background-color: white;
    width: 80vh;
    height: 450px;
    text-align: left;
    margin: 20px;
}

.information p {
    padding: 5px;
    margin: 10px;
}

.supprimer-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    height: 40px;
    padding: 3%;
}

.modifier-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    height: 35px;
}

input {
    color: white;
    background-color: #1D2F6F;
}

@media screen and (max-width: 425px) {

    .contenu {
        width: 80%;
        border: 0;
        margin-top: 5%;
        margin-left: 10%;
        padding: 1%;
        border-radius: 0;
    }

    .background_img {
        left: 25%;
        top: 8%;
        width: 60vw;
        z-index: -1;
        opacity: 0.5;
    }
    .utilisateur {
        width: 100%;
        margin: 0;
        margin-left: 10%;
        padding: 1%;

    }
    .information {
        width: 40vh;
        margin: 0;
        margin-left: 10%;
        margin-top: 10%;
    }

    .supprimer-container {
        width: 90%;
        margin: 0;
        padding: 1%;
        border-radius: 0;
    }

    .modifier-container {
        width: 100%;
        margin: 0;
        margin-top: 5%;
        padding: 1%;
        border-radius: 0;
    }

    .profilList{
        width: 100%;
    }
}
