body {
    margin: 0;
    padding: 0;
}

.nav_container {
    border: black solid 2px;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img {
    width: 86px;
    height: 86px;
}

i {
    color: #1D2F6F;
    width: 86px;
    height: 86px;
}



.background_img {
    position: absolute;
    object-fit: fill;
    height: 800px;
    z-index: -1;
    opacity: 0.8;
}


/* #titre1,
#titre3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2DFE3;
    border: 2px solid black;
    border-radius: 20px;
    width: 30vh;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 100%;
}

#titre2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F88C5;
    border: 2px solid black;
    border-radius: 20px;
    width: 30vh;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 100%;

} */



#projectList {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
}

.projectColumn {
    margin: 10px;
    width: 25%;
    overflow-y: scroll;
}

.titre {
    text-align: center;
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px;
    background-color: #C2DFE3;
    padding: 3%;
}

.taskList {
    box-shadow:  0 8px 16px rgba(0,0,100,0.4);
    border-radius: 20px ;
    background-color: #C2DFE3;
    height: 400px;
    text-align: center;
}

.taskList p {
    background-color: white;
    padding: 10px;
    margin: 30px;
}

#listMiddle {
    background-color: #3F88C5;
}

#projectManager {
    overflow-x: scroll;
    grid-area: footer;
    box-shadow:  10px 8px 16px rgba(0,0,100,0.4);
    background-color: #1D2F6F;
    max-width: 75%;
    height: 20vh;
    border-radius: 20px;
    margin: auto;
}

#role {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.managerPhoto i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C2DFE3;
    font-size: 35px;
}

#photos {
    display: flex;
    justify-content: space-around;
}

.managerPhoto a {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}


@media screen and (max-width: 425px) {

    #projectList {
        display: flex;
        flex-direction: column;
        margin:0;
        max-width: 100%;
        padding: 1%;
    }

    .background_img {
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
    }
    
    #projectManager {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 100%;
        height: 20%;
        margin: 0 auto ;
        padding: 1%;
    }

    #photos {
        display: flex;
        flex-direction: column;
        margin: 0 ;
        padding: 10%;
    }

    #photos p {
        margin: 0 ;
        padding: 0%;
    }

    .projectColumn {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 200px;
    }

}


