
body{
    margin: 0;
    padding: 0;
}

.background_img{
    position: absolute;
    left: 25%;
    top: 8%;
    width: 60vw;
    z-index: -1;
    opacity: 0.5;
}

.nav_container{
    box-shadow: 0px 3px 5px  darkslategray;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
}

nav i{
    color: #1D2F6F;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img{
    width: 50px;
    height: 50px;
}

#popup{
    position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

#popup.open{
	display: block;
}

#popup .mask{
    background: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#popup .container{
	position: relative;
	background: white;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 300px;
	height: auto;
	min-height: 50px;
}

#popup .container .message{
	padding: 5% 15% 5% 5%;
}

#popup .container a.close{
	position: absolute;
	right: 5%;
	top:5%;
	color: #444;
	font-size: 30px;
}

#popup .container a.close:hover{		
	color: black;
}

.info{
    grid-area: content;
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}

ul{
    background-color: #3F88C5;
    color: white;
    list-style-type: none;
    margin-right: 50px;
    padding-bottom: 20px;
    padding-top: 5px;
    min-width: 400px;
    max-width: 400px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px 3px darkslategray;
    font-size: 12px;
}


.change_password{
    display: flex;
    margin-bottom: 20px;
}

.formu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    background-color: #3F88C5; 
    padding: 20px;
    max-width: 65vh;
    color: white;
    max-height: 180px;
    box-shadow: 2px 3px 3px 3px darkslategray;
    border-radius: 20px;
}

.formu label{
    font-size: 12px;
}

.bouton i{
    margin-left: 15px;
}

#check{
    width: 100px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: #1D2F6F;
}

.Comm{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.base{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.Commentaires{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #3F88C5;
    box-shadow: 2px 3px 3px 3px darkslategray;
    border-radius: 20px;
    padding: 6px;
    margin-top: 10px;
    height: 280px;
}

.Commentaires h3{
    text-align: center;
}

.whiteboard{
    display: grid;
    grid: repeat(2,1fr);
    overflow: scroll;
    background-color: white;
    padding-left: 20px;

}

.com{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    max-height: 50px;
    padding: 2px;
    
}

.bout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

#H_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: start;
}

#S_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 42%;
}

.com h4{
    margin-right: 10px;
}

.bouton{
    padding: 40px;
    text-align: center;
    height: 80px;
    width: 300px;
    border-radius: 20px;
    color: white;
    background-color: #1D2F6F;
    box-shadow: 3px 4px 6px darkslategray;
    border:0;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 


.Comm .bout {
    display: flex;
    flex-direction: column; 
}
  
  
#S_comment {
    order: 2;
}

@media screen and (max-width:425px){

    header{
        width: 100%;
    }
    
    .base{
        width: 100%;
    }

    .bouton{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0;
        width: 80%;
    }

    #Account{
        display: flex;
        flex-direction: column;
    }

    .nav_container{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        max-width: 100%;
    }

    .block_info{
        width: 65vh;
    }

    .change_password{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center ;
        width: 100%;
    }

    #C_pass{
        display: flex;
        flex-direction: column;
        border: 0;
        box-shadow: 2;
    }

    ul{
        margin-right: 0;
        min-width: 30vh;

    }

    ul li{
        width: 90%;
    }

    .formu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 55vh;
        padding-top: 5%;
        margin-top: 5%;
        grid-gap: 3%;
        border: 0;
    }


    .Comm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .Commentaires{
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 100%;
        border: 0;
    }

    #H_comment{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .bout{
        margin: 0;
        align-self: center;
    }

    .whiteboard{
        display: flex;
        flex-direction: column;
        margin: 3% 0;
        padding: 0;
        width: 100%
    }

    .colonne{
        margin-bottom: 6%;
        margin-top: 3%;
    }

    .colonne1{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    .colonne2{
        display: flex;
        flex-direction: column;
        align-self: start;
    }

    #S_comment {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        order: 1;
    }
}


/* Possible soucis pour les tablettes sur les pages. à check */