
.nav_container {
    border: black solid 2px;
    background-color: rgba(63, 136, 197, 1);
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_container img {
    width: 86px;
    height: 86px;
}

i {
    color: #1D2F6F;
    width: 86px;
    height: 86px;
}



.background_img {
    position: absolute;
    left: 20%;
    width: 60%;
    top: 0;
    z-index: -1;
    opacity: 0.5;

}

/* #titre1,
#titre3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2DFE3;
    border: 2px solid black;
    border-radius: 20px;
    width: 30vh;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 100%;
}

#titre2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F88C5;
    border: 2px solid black;
    border-radius: 20px;
    width: 30vh;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 100%;

} */



#projectList {
    display: flex;
    justify-content: center;
   margin: auto;
    width: 150vh;
    
}

.projectColumn {
    margin: 10px;
    width: 25%;
}

.titre {
    text-align: center;
    border-radius: 20px;
    background-color: #C2DFE3;
    padding: 3%;
}

.taskList {
    overflow-x: scroll;
    border:white solid 3px;
    border-radius: 20px ;
    background-color: #C2DFE3;
    height: 400px;
    text-align: center;
}

.taskList p {
    background-color: white;
    padding: 10px;
    margin: 30px;
}

#listMiddle {
    background-color: #3F88C5;
}

#projectManager {
    overflow-x: scroll;
    overflow-y:hidden;
    grid-area: footer;
    border: black solid 3px;
    background-color: #1D2F6F;
    max-width: 75%;
    height: 20vh;
    border-radius: 20px;
    margin: auto;
}

#role {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.managerPhoto i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C2DFE3;
    font-size: 35px;
}

#photos {
    display: flex;
    justify-content: space-around;
}

.managerPhoto a {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}

/* .managerPhoto p {

} */



